Repository ElaadNL/openadr3-client-gac-compliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, bandit, reuse, uv-lock

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Contributors to openadr3-client <https://github.com/ElaadNL/openadr3-client>
#
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-json
    -   id: check-symlinks
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: fix-byte-order-marker
    -   id: trailing-whitespace
    -   id: mixed-line-ending
# Prefer local hooks over repos, to ensure the pyproject.toml version is used
- repo: local
  hooks:
    - id: ruff-check
      name: ruff-check
      description: a hook the runs ruff check with uv
      entry: uv run ruff check
      language: system
      types: [python]
      stages: [pre-commit]

    - id: ruff-format
      name: ruff-format
      description: a hook the runs ruff format with uv
      entry: uv run ruff format
      language: system
      types: [python]
      stages: [pre-commit]

    - id: mypy
      name: mypy
      description: a hook the runs mypy with uv
      entry: uv run mypy --check-untyped-defs
      language: system
      types: [python]
      stages: [pre-commit]

    - id: bandit
      name: bandit
      description: a hook the runs bandit with uv
      entry: uv run bandit -c pyproject.toml
      language: system
      types: [python]
      stages: [pre-commit]

    - id: reuse
      name: reuse
      description: a hook the runs bandit with uv
      entry: uv run reuse lint-file
      language: system
      types: [python]
      stages: [pre-commit]

    - id: uv-lock
      name: uv-lock
      description: "Automatically run 'uv lock' on your project dependencies"
      entry: uv lock --check
      language: system
      files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
      pass_filenames: false
      additional_dependencies: []
      minimum_pre_commit_version: "2.9.2"

fix: linting fixes
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .vscode/settings.json
  LICENSE.md
Due: none

feat: add license headers
  .github/dependabot.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .gitignore
  .vscode/settings.json.license
  CONTRIBUTING.md
  README.md
  REUSE.toml
  SECURITY.md
  openadr3_client_gac_compliance/__init__.py
  openadr3_client_gac_compliance/gac20/__init__.py
  openadr3_client_gac_compliance/gac20/event_gac_compliant.py
  openadr3_client_gac_compliance/gac20/plugin.py
  openadr3_client_gac_compliance/gac20/program_gac_compliant.py
  openadr3_client_gac_compliance/gac20/ven_gac_compliant.py
  openadr3_client_gac_compliance/gac21/__init__.py
  pyproject.toml
  tests/__init__.py
  tests/domain/__init__.py
  tests/domain/gac20/__init__.py
  tests/domain/gac20/test_event_gac_compliance.py
  tests/domain/gac20/test_program_gac_compliance.py
  tests/domain/gac20/test_ven_gac_compliance.py
  uv.lock.license
Due: ruff-check, ruff-format, mypy, bandit, reuse, uv-lock

fix: add REUSE tool license files
  LICENSES/Apache-2.0.txt
  LICENSES/CC0-1.0.txt
Due: none

fix: fix test task. Fix linting issue. Fix test match string.
  pyproject.toml
  tests/domain/gac20/test_event_gac_compliance.py
  tests/domain/gac20/test_program_gac_compliance.py
  tests/domain/gac20/test_ven_gac_compliance.py
Due: ruff-check, ruff-format, mypy, bandit, reuse, uv-lock

fix: fix CI permissions to follow principle of least privilege
  .github/workflows/ci.yml
Due: none

feat: add badges
  README.md
Due: none

feat: update README
  README.md
Due: none

release: release version 3.0.3
  pyproject.toml
  uv.lock
Due: uv-lock

fix: fix ruff linting errors
  openadr3_client_gac_compliance/gac20/event_gac_compliant.py
  openadr3_client_gac_compliance/gac20/program_gac_compliant.py
  openadr3_client_gac_compliance/gac20/ven_gac_compliant.py
Due: ruff-check, ruff-format, mypy, bandit, reuse

feat: use python-setup for installing python instead of uv pyton install
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

feat: upgrade to openadr3-client 2.0.4
  openadr3_client_gac_compliance/gac20/event_gac_compliant.py
  openadr3_client_gac_compliance/gac20/plugin.py
  openadr3_client_gac_compliance/gac20/program_gac_compliant.py
  openadr3_client_gac_compliance/gac20/ven_gac_compliant.py
  pyproject.toml
  tests/domain/gac20/test_event_gac_compliance.py
  tests/domain/gac20/test_program_gac_compliance.py
  tests/domain/gac20/test_ven_gac_compliance.py
  uv.lock
Due: ruff-check, ruff-format, mypy, bandit, reuse, uv-lock

feat: use hatch-vcs
  pyproject.toml
Due: uv-lock

Feat/openadr3 client 2 (#38)
  openadr3_client_gac_compliance/gac20/event_gac_compliant.py
  openadr3_client_gac_compliance/gac20/plugin.py
  openadr3_client_gac_compliance/gac20/program_gac_compliant.py
  openadr3_client_gac_compliance/gac20/ven_gac_compliant.py
  pyproject.toml
  tests/domain/gac20/test_event_gac_compliance.py
  tests/domain/gac20/test_program_gac_compliance.py
  tests/domain/gac20/test_ven_gac_compliance.py
  uv.lock
Due: ruff-check, ruff-format, mypy, bandit, reuse, uv-lock

feat: use python-setup for installing python instead of uv pyton install (#34)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

feat: pin GH action versions to commit SHA
  .github/workflows/README.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

ci(dependabot): add cooldown, groups, and github-actions updates
  .github/dependabot.yml
Due: none

feat: add zizmor static GH actions checker. Fix issues
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

chore: update all checkout actions to v6
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

Add compliance plugin for GAC21, add tests for GAC21
  openadr3_client_gac_compliance/gac21/event_gac_compliant.py
  openadr3_client_gac_compliance/gac21/plugin.py
  openadr3_client_gac_compliance/gac21/program_gac_compliant.py
  openadr3_client_gac_compliance/gac21/ven_gac_compliant.py
  tests/domain/gac21/__init__.py
  tests/domain/gac21/test_event_gac_compliance.py
  tests/domain/gac21/test_program_gac_compliance.py
  tests/domain/gac21/test_ven_gac_compliance.py
Due: ruff-check, ruff-format, mypy, bandit, reuse

GH actions security hardening (#52)
  .github/dependabot.yml
  .github/workflows/README.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

Update version, readme and dependencies
  .github/dependabot.yml
  .github/workflows/README.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  README.md
  pyproject.toml
  uv.lock
Due: uv-lock

Add compliance plugin for GAC21, add tests for GAC21 (#55)
  README.md
  openadr3_client_gac_compliance/gac21/event_gac_compliant.py
  openadr3_client_gac_compliance/gac21/plugin.py
  openadr3_client_gac_compliance/gac21/program_gac_compliant.py
  openadr3_client_gac_compliance/gac21/ven_gac_compliant.py
  pyproject.toml
  tests/domain/gac21/__init__.py
  tests/domain/gac21/test_event_gac_compliance.py
  tests/domain/gac21/test_program_gac_compliance.py
  tests/domain/gac21/test_ven_gac_compliance.py
  uv.lock
Due: ruff-check, ruff-format, mypy, bandit, reuse, uv-lock

fix: fix hatch build not inclulding any files
  pyproject.toml
Due: uv-lock

fix: fix program attributes being incorrect
  openadr3_client_gac_compliance/gac21/program_gac_compliant.py
  pyproject.toml
  tests/domain/gac21/test_program_gac_compliance.py
  uv.lock
Due: ruff-check, ruff-format, mypy, bandit, reuse, uv-lock

fix: fix program attributes being incorrect (#62)
  openadr3_client_gac_compliance/gac21/program_gac_compliant.py
  pyproject.toml
  tests/domain/gac21/test_program_gac_compliance.py
  uv.lock
Due: ruff-check, ruff-format, mypy, bandit, reuse, uv-lock

refactor: drop bandit, rely on ruff's flake8-bandit (S) rules
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: uv-lock

fix(cd): disable cache on release builds to prevent cache poisoning
  .github/workflows/cd.yml
Due: none

refactor: drop bandit, rely on ruff's flake8-bandit (S) rules (#76)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: uv-lock

refactor: use default caching rules, as these now protect to cache poisoning
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

ci: use default caching rules for uv, as these now protect to cache poisoning
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

add gac22 validation
  openadr3_client_gac_compliance/gac22/__init__.py
  openadr3_client_gac_compliance/gac22/event_gac_compliant.py
  openadr3_client_gac_compliance/gac22/plugin.py
  openadr3_client_gac_compliance/gac22/program_gac_compliant.py
  openadr3_client_gac_compliance/gac22/ven_gac_compliant.py
Due: ruff-check, ruff-format, mypy, bandit, reuse

run formatter
  openadr3_client_gac_compliance/gac22/ven_gac_compliant.py
Due: ruff-check, ruff-format, mypy, bandit, reuse

Add GAC22 validations (#89)
  openadr3_client_gac_compliance/gac22/__init__.py
  openadr3_client_gac_compliance/gac22/event_gac_compliant.py
  openadr3_client_gac_compliance/gac22/plugin.py
  openadr3_client_gac_compliance/gac22/program_gac_compliant.py
  openadr3_client_gac_compliance/gac22/ven_gac_compliant.py
Due: ruff-check, ruff-format, mypy, bandit, reuse

Update pypi publish action
  .github/workflows/cd.yml
Due: none

Update pypi publish action (#90)
  .github/workflows/cd.yml
Due: none

remove country check
  openadr3_client_gac_compliance/gac22/ven_gac_compliant.py
Due: ruff-check, ruff-format, mypy, bandit, reuse

remove unused import
  openadr3_client_gac_compliance/gac22/ven_gac_compliant.py
Due: ruff-check, ruff-format, mypy, bandit, reuse
